<html>
<head>
    <title>Diccionario</title>
</head>
<body>
    <h1>Bienvenido al diccionario</h1>
    <p>Este es un diccionario en línea en el que podrás agregar, editar, eliminar y buscar palabras y sus definiciones.</p>
    <p>Para empezar, elige una opción:</p>
    <ul>
        <li><a href="/words">Ver todas las palabras</a></li>
        <br>
        <li><a href="/words/add">Agregar una nueva palabra</a></li>
        <br>
        <li><a href="/words/search">Buscar una palabra</a></li>
        <br>
        <li><a href="/delete/<word>">Eliminar palabra</a></li>
        <br>
        <li><a href="/edit/<word>">Editar palabra</a></li>
    </ul>
</body>
</html>
